* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
  border-radius: 8%;
  background-color: rgb(202, 209, 202);
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  color: white;
}

.subtittle {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.images {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  margin: 150px;
  justify-content: space-evenly;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}